{% extends "main.html" %}
{% block content %}

<style>
   #password-form {
   background-color: #212529;
   padding: 10px;
   box-shadow: 10px 8px 8px 5px #17a2b8;
   }
</style>

<h3 class="text-center  text-white pt-5 ">Change Password</h3>
<div class="container">
   <div id="password-row" class="row justify-content-center align-items-center">
      <div id="password-column" class="col-md-6">
         <div id="password-box" class="col-md-12">
            <form id="password-form" class="form-control" action="{% url 'password_change' %}" method="POST">
               {% csrf_token %}
               <div class="form-group">
                  <label for="id_old_password" class="text-info">Old Password:</label><br>
                  <input type="password" name="old_password" autocomplete="new-password"
                     class="form-control" required id="id_old_password"
                     placeholder="Enter Old Password"/>
               </div>
               <div class="form-group">
                  <label for="id_old_password" class="text-info">New Password:</label><br>
                  <input type="password" name="new_password1" autocomplete="new-password"
                     class="form-control" required id="id_new_password1"
                     placeholder="Enter New Password"/>
               </div>
               <div class="form-group">
                  <label for="password" class="text-info">New Password Confirmation:</label><br>
                  <input type="password" name="new_password2" autocomplete="new-password"
                     required id="id_new_password2" class="form-control"
                     placeholder="Confirm New Password"/>
               </div>
               <div class="form-group">
                  <input type="submit" class="btn btn-outline-info btn-md" value="Submit">
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock content %}