{% extends "main.html" %}
{% block content %}
    <div class="container">
        <div id="complete-row" class="row justify-content-center align-items-center">
            <div id="complete-column" class="col-md-6">
                <div id="complete-box" class="col-md-12">
                    <div class="alert alert-info">
                        Your password has been set. You may go ahead and
                        <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}