{% extends 'main.html' %}
{% block content %}

<style>
   body {
   color: #ffffff
   }
   .user-profile .card {
   border-radius: 10px;
   background-color: #31363b;
   }
   .user-profile .card .card-header .profile_img {
   width: 150px;
   height: 150px;
   object-fit: cover;
   margin: 5px auto;
   border: 5px solid rgb(15, 14, 14);
   border-radius: 50%;
   }
   .user-profile .card h3 {
   font-size: 20px;
   font-weight: 700;
   }
   .user-profile .card {
   font-size: 16px;
   color: rgb(255, 255, 255);
   }
   .user-profile .table th,
   .user-profile .table td {
   font-size: 14px;
   padding: 5px 10px;
   color: hsl(0, 0%, 100%);
   background-color: #31363b;
   }
</style>

<div class="user-profile py-4 ">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="card shadow-sm">
               <div class="card-header bg-transparent text-center">
                  {% for u in user %}
                  {% if  u.profile_image %}
                  <img src="{{ u.profile_image.url }}" alt="" class="img-fluid profile_img">
                  {% endif %}
                  <h3>{{ u.first_name }} {{ u.last_name }}</h3>
               </div>
               <div class="card-body">
                  <p class="mb-0"><strong class="pr-1">Username:</strong>{{ u.user }}</p>
                  <p class="mb-0"><strong class="pr-1">Firstname:</strong>{{ u.first_name }} </p>
                  <p class="mb-0"><strong class="pr-1">Lastname:</strong>{{ u.last_name }}</p>
               </div>
            </div>
         </div>
         <div class="col-lg-8">
            <div class="card shadow-sm">
               <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
               </div>
               <div class="card-body pt-0">
                  <table class="table table-bordered table-dark table-hover table-responsive">
                     {% if u.email %}
                     <tr>
                        <th width="30%">Email</th>
                        <td width="2%">:</td>
                        <td>{{ u.email }}</td>
                     </tr>
                     {% endif %}
                     <tr>
                        <th width="30%">Contact</th>
                        <td width="2%">:</td>
                        <td> {{ u.phone_number }}</td>
                     </tr>
                     <tr>
                        <th width="30%">Plan</th>
                        <td width="2%">:</td>
                        <td>{{ u.current_plan }}</td>
                     </tr>
                     <tr>
                        <th width="30%">Address</th>
                        <td width="2%">:</td>
                        <td>{{ u.address }}</td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}